{
    "family": "granny_app",
    "containerDefinitions": [{
        "name": "granny_app",
        "image": "{{docker_registry}}:latest",
        "cpu": 10,
        "memory": 512,
        "links": [],
        "portMappings": [{
            "containerPort": 8080,
            "hostPort": 8080,
            "protocol": "tcp"
        }],
        "essential": true,
        "entryPoint": [],
        "command": [],
        "environment": [],
        "mountPoints": [],
        "volumesFrom": []
    }]
}