{
    "family": "granny_app",
    "containerDefinitions": [{
        "name": "granny_app",
        "image": "{{docker_registry}}:latest",
        "cpu": 10,
        "memory": 512,
        "links": [],
        "portMappings": [{
            "containerPort": 8080,
            "hostPort": 8080,
            "protocol": "tcp"
        }],
    "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
            "awslogs-group": "granny_app",
            "awslogs-region": "us-west-1",
            "awslogs-stream-prefix": "grannyapp"
        }
    },  
        "essential": true,
        "entryPoint": [],
        "command": [],
        "environment": [],
        "mountPoints": [],
        "volumesFrom": []
    }]
}
